body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "GT Cinetype", "Roboto", Helvetica,sans-serif;
  background-color: #dfdcd3;
}

  body::-webkit-scrollbar {
    display: none;
  }
  
  #background_image {
    top:0;
    left:0; 
    position:fixed; 
    min-width:100%;
    min-height:100%;
  }
  
  h1 {
    font-size: 30px;
    font-weight: 700;
  }
  
  h2 {
    font-size: 18px;
    font-weight: 400;
    color: #6b7375;
  }
  
  h3 {
    font-size: 16px;
    font-weight: 400;
    color: #6b7375;
  }

  p {
    /* word-break: break-all; */
    white-space: normal;
}

  .container {
    display: flex;
    margin-top: 0%;
    justify-content: space-between;
    align-items: top;
  }

  .canvas-container {
    /* width: 80%; */
    margin: 3%;
  }

  .paragraph {
    /* width: %; */
    margin: 3%;
  }


  