body {
    background-color: #ebebeb;
}

h1 {
    font-size: 30px;
    font-weight: 700;
  }
  
  h2 {
    font-size: 18px;
    font-weight: 400;
    color: #6b7375;
  }
  
  h3 {
    font-size: 16px;
    font-weight: 400;
    color: #6b7375;
  }

.container {
    container
}