body {
  font-family: "GT Cinetype", "Roboto", Helvetica,sans-serif;
  background-color: #ebebeb;
}

#background_image {
  top:0;
  left:0; 
  position:fixed; 
  min-width:100%;
  min-height:100%;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #6b7375;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  color: #6b7375;
}

#container__appearingtext {
  margin-right: 50%;
  visibility: hidden;
  opacity: 0;
  transition: 1.5s ease-out;
}

.container {
  margin: 50px;
}

#jubail{
  transition: 0.5s ease-out;
}
#foundation{
  transition: 0.5s ease-out;
}
#adnoc{
  transition: 0.5s ease-out;
}
#mangroves{
  transition: 0.5s ease-out;
}
#nyu {
  transition: 0.5s ease-out;
}
#saadyiat {
  transition: 0.5s ease-out;
}
#louvre {
  transition: 0.5s ease-out;
}
#mamsza {
  transition: 0.5s ease-out;
}


.container__image {
  margin-left: 70%;
  margin-top: 10%;
  height: 400px;
  width: 300px;
}

img {
  height: 100%;
  width: 100%;
  transition: 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  object-fit: cover;
}