body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #dfdcd3;
  font-family: "GT Cinetype", "Roboto", Helvetica,sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}


/* DEFINING MAIN FONTS */

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #6b7375;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  color: #6b7375;
}

h4 {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: #000000;
}


/* NAVIGATION PANEL */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 3% 2% 3%;
}


/* SETTING DIV WITH COVER IMAGE*/

.theme-container {
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.theme-container__item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* PROJECT PAGES: SETTING UP CONTAINERS WITH TEXT*/

.container{
  margin-top: 0%;
  display: flex;
  justify-content: space-between;
  align-items: top;
}


.container__info-itemright {
  width: 65%;
  margin: 2% 5% 0% 3%;
}

.container__info-itemleft {
  width: 35%;
  margin: 2% 3% 0% 5%;
}

.container__info-itemgallery {
  flex-direction: row;
  display: flex;
	flex-wrap: wrap;
	width: 65%;
	justify-content: space-evenly;
  margin: 2% 5% 0% 3%;
}

.containerinfo-itemgallery-img {
  width: 45%;
}



@media screen and (max-width: 767px)
{
  .container__info-itemgallery {
    display: block;
    height: 100%;
  }
  .container {
    display: block;
    height: 100%;
  }

  .container__info-itemleft {
    width: 90%;
    margin: 0% 5% 0% 5%;
  }
  .container__info-itemright {
    width: 90%;
    margin: 0% 5% 0% 5%;
  }
  .containerinfo-itemgallery-img {
    width: 100%;
  }
}